
<footer class="text-center text-white fixed-bottom" style="background-color: #000000;">
  <ul class="me-auto">
    <li class="list-group-item">
      <a><i class="fa fa-map-marker me-3"></i>brrio pele calle 13-14 mnz 13</a>
    </li>
    <li class="list-group-item">
      <a href="mailto:veterinariaCerbero@gmail.com" title="Send me an email">
      <i class="fa fa-envelope me-3"></i>veterinariaCerbero@gmail.com</a>
    </li>
    <li class="list-group-item">
      <a><i class="fa fa-phone me-3"></i>(033)12345678</a>
    </li>
    <li class="list-group-item">
      <div>© 2022 Copyright</div>
    </li>
  </ul>
</footer>
