<app-menu></app-menu>
<body>
<div class="container">
  <h1>Iniciar sesion</h1>
  <form>
    <div class="input-group">
      <input type="text" id="email" required class="input">
      <label for="email" class="input-label">Correo</label>
    </div>
    <br>
    <div class="input-group">
      <input type="password" id="password" required class="input">
      <label for="password" class="input-label">Contraseña</label>
    </div>
    <br>
    <button class="btn">Enviar</button>
    <p class="text">Dont have an acount?
      <a routerLink="/register-user">Crear cuenta</a></p>
  </form>
</div>
</body>
<app-footer></app-footer>
