<app-menu></app-menu>
<div class="container">
  <div class="row m-3">
    <div class="col-md-6 mx-auto">
      <div class="card" >
        <div class="card-header text-center">
          Inicio de sesion
        </div>
        <div class="card-body" id="fathercontainer">
          <button class="btn btn-outline-danger btn-lg" id="soncontainer1"> Iniciar sesion</button>
          <br>
          <button class="btn btn-outline-danger btn-lg" routerLink="/register-user" id="soncontainer2">registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
