<app-menu></app-menu>
<body>
<div class="container col-md-6">
  <h1>Iniciar sesion</h1>
  <form >
    <div class="input-group">
      <input required type="text" id="email" required class="input" name="email" [(ngModel)] = "tokenRequest.email">
      <label for="email" class="input-label">Correo</label>
    </div>
    <br>
    <div class="input-group">
      <input required type="password" id="password" required class="input" name="password" [(ngModel)] = "tokenRequest.password">
      <label for="password" class="input-label">Contraseña</label>
    </div>
    <br>
    <button class="btn"(click)="userLogin()" routerLink="/">Enviar</button>
    <p class="text">No tienes una cuenta?
      <a routerLink="/register-user">Crear cuenta</a></p>
    <p class="text">Iniciar sesion como: </p>
    <a routerLink="/login-vet">
      <i class="fas fa-sign-in"></i> veterinario </a>
      <p></p>
    <a routerLink="/login-admin">
      <i class="fas fa-lock"></i> administrador</a>
  </form>
</div>
</body>
