#startSesion{
  padding: 12px;
  width: 130px;
  cursor: pointer;
  background: #799be6;
  color: white;
  transition: .5s ease;
  border-radius: 10px;
}

#startSesion:hover{
  background: transparent;
  border: 2px solid #799be6;
  box-shadow: 0 0 10px 0 #799be6 inset,
              0 0 10px 4px #799be6;
  border-radius: 10px;
}
