<body>
<nav class="navbar navbar-expand-lg  navbar-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <i class="fa fa-paw" aria-hidden="true"></i> vete-shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">
            <i class="fas fa-home"></i>  Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">
            <i class="fas fa-list"></i>  Productos</a>
        </li>
      </ul>
      <button *ngIf="gStaticElement == false" id="endSession" type="submit" routerLink="/" (click)="logout()">Cerrar Sesion</button>
      <button *ngIf="gStaticElement == true" id="startSession" type="submit" routerLink="/login">iniciar sesion</button>
    </div>
  </div>
</nav>
</body>
