<app-menu></app-menu>
<a href="#popup" class="button-86">Contactanos</a>

<div id="popup" class="overlay">
  <div id="popupBody">
      <h2>Informacion de contacto</h2>
      <a id="cerrar" href="#">&times;</a>
      <ul class="aboutUs">
        <li class="list-group-item">
          <a><i class="fa fa-map-marker me-3"></i> brrio pele calle 13-14 mnz 13</a>
        </li>
        <li class="list-group-item">
          <a href=" mailto:veterinariaCerbero@gmail.com" title="Send me an email">
          <i class="fa fa-envelope me-3"></i>veterinariaCerbero@gmail.com</a>
        </li>
        <li class="list-group-item">
          <a><i class="fa fa-phone me-3"></i>(033)12345678</a>
        </li>
        <li class="list-group-item">
          <a>© 2022 Copyright</a>
        </li>
      </ul>
  </div>
</div>

